
.description-bubble {
  padding: 20px;
  background-color: var(--bg-primary);
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  height: calc((100vh - 64px) / 3);

  h2 {
    margin-top: 0;
    font-size: 1rem;
    color: black;
  }

  p {
    font-size: 0.875rem;
    color: black;
    margin: 0 0 10px;
    min-height: 1em;
  }

  .description-content {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: calc(((100vh - 64px) / 3) * 0.7);
    overflow-y: auto;
    text-align: left;
    box-sizing: border-box;
  }
}